/* .container {
    margin-top: 20px;
} */
div[class^="col-"] {
    min-height: 20px;
    /* border: 1px solid black;
    background-color: skyblue; */
}

/* div:nth-child(2n+2) {
    background-color: pink;
} */
