
.modal-content .modal-body {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-row-gap: 10px;

}

.modal-body img:first-child {
    grid-row: 1;
    grid-column: 1/4;
}

#firstText + p {
    grid-column: 1/4;
}

#two {
    grid-row: 2;
    grid-column: 2/4;
}
#three {
    grid-row: 4;
    grid-column: 1/4;
}

p:last-child {
    grid-row: 5;
    grid-column: 1/4;
}
